.git
.github
.idea
.vscode

.env
.env.*
!.env.example

node_modules
vendor

bootstrap/cache/*.php

storage/app
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views

public/build
public/hot
public/storage

npm-debug.log
yarn-error.log

.DS_Store
Thumbs.db
